{% extends "base_home_adds.html" %}
  {%load i18n %}
 {% block noticias %}

<p class ="head_title_colum">{% blocktrans%}Logged out!{% endblocktrans %} <i class="fas fa-sign-out-alt"></i></p>

<a class ="head_title_colum" href="{% url 'login'%}">{% blocktrans%}Login {% endblocktrans %}<i class="fas fa-sign-in-alt"></i></a>

{% endblock %}