{% extends "base_home_adds.html" %}
{% load i18n %}
{% block noticias %}
<br>
<p><span class ="title_large" >{% blocktrans %}Login required</span>{% endblocktrans %}</p>
<br>
<br>

{% if form.errors %}
        <p class ="error_text">{% blocktrans %} Error username password didn't match/Account doesn't exist. Please try again.{% endblocktrans %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class ="title_large">{% blocktrans%}Your account doesn't have access to this page. To proceed,
    please login with an account that has access.{% endblocktrans %}</p>
    {% else %}
    <!-- <p class ="title_large">Please login to see this page.</p> -->
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td><span class ="title_large" >{{ form.username.label_tag }}</span></td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td><span class ="title_large" >{{ form.password.label_tag }}</span></td>
  <td>{{ form.password }}</td>
</div>

<br>
<br>
<div>
  <button class="hash_button_big" type="submit"  value = "Login"><i class="fas fa-sign-in-alt"></i> {% blocktrans%}Login{% endblocktrans %}</Button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p class ="title_large"><a href="{% url 'password_reset' %}"><i class="fas fa-key"></i> {% blocktrans%}Lost password?{% endblocktrans %}</a></p>
<p><a href="{% url 'home' %}accounts/new_user"><i class="fas fa-user-plus"></i> {% blocktrans %}  Sign In{% endblocktrans %}</a></p>
{% endblock %}