{% extends "base_home_adds.html" %}
 {%load i18n %}
 {% block noticias %}

<p class ="head_title_colum">{% blocktrans%}We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.{% endblocktrans %}</p>
 <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
 </p>
{% endblock %}
