{% extends "base_home_adds.html" %}
 {%load i18n %}
 {% block noticias %}
<br>
<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.as_p }}</p>
    <input type="submit" class="hash_button_big" value="Reset password" />
</form>

{% endblock %}