{% extends "base_home_adds.html" %}
 {%load i18n %}
 {% block noticias %}

 {% if validlink %}
        <p>{% blocktrans%}Please enter (and confirm) your new password.{% endblocktrans %}</p>
        <form action="" method="post">{% csrf_token %}
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">{% blocktrans%}New password:{% endblocktrans %}</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">{% blocktrans%}Confirm password:{% endblocktrans %}</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>{% blocktrans%}Password reset failed{% endblocktrans %}</h1>
        <p>{% blocktrans%}The password reset link was invalid, possibly because it has already been used. Please request a new password reset.{% endblocktrans %}</p>
    {% endif %}

{% endblock %}