{% extends "base_home_adds.html" %}
 {%load i18n %}
 {% block noticias %}

<p class ="head_title_colum">{% blocktrans%}The password has been changed!{% endblocktrans%}</p>
<p class ="head_title_colum"><a href="{% url 'login' %}">{% blocktrans%}log in again?{% endblocktrans%}</a></p>

{% endblock %}