{% extends "base_home_adds.html" %}
 {% block noticias %}
{%load i18n %}


<div class ="news_content_text">
<h1>Brisk Report About </h1>


<p><b>Last updated: April 4, 2018</b></p>
<p>{% blocktrans%} Brisk Report allows you to create and publish  news and opinions, but a source must be provided as a web link.{% endblocktrans %}<br>
{% blocktrans%} You can create the news as a User(free account).{% endblocktrans %}<br>
{% blocktrans%} You can create a free account and follow your favourite writers, you can be followed too.{% endblocktrans %}<br>
{% blocktrans%} You can provide an cyrpto  hash  o paypal account/patreon account to receive donations.{% endblocktrans %}</p>
<p>{% blocktrans%} The front page use an algorithm to display the news but you can access all the created new cliking the section name.{% endblocktrans %}<br>
{% blocktrans%} You can set your location to received local news.{% endblocktrans %}<br>
{% blocktrans%} Two language versions Español & English.{% endblocktrans %}<br>
{% blocktrans%} Brisk Report does not track you , or save information , other than preferences or cookies: {% endblocktrans %} <a class="link_item_large" href="{% url 'privacy' %}"> {% blocktrans%} Privacy  {% endblocktrans %}</a> <br>
{% blocktrans%} The Main New an Op Edge are created news from writers in collaboration with Brisk Report.{% endblocktrans %}
</p>

<p><b>{% blocktrans%} Any doubt or suggestion just send a email to us .{% endblocktrans %} noticiasdinamicas@protonmail.com</b></p>

<p>
<p><b>{% blocktrans%} News Creation{% endblocktrans %}</p></b>
{% blocktrans%} Create a new clinking in the create new icon: .{% endblocktrans %}<i class="fas fa-plus"></i><br>
{% blocktrans%} You must provide your unbiased opinion and  a link as evidence , a section for your new to be displayed and a location..{% endblocktrans %}<br>
{% blocktrans%} The created news could be deleted periodically according the system charge (4 week- 52 week)(archive o save your new or opinion).{% endblocktrans %}<br>
{% blocktrans%} The created news could be deleted with out further notification if it does not follow the terms of services,required by a legal procedure or due moderator's discretion.{% endblocktrans %}<br>
<b>{% blocktrans%} ALWAYS review the link before clicking it , do not click no safe links  {% endblocktrans %}</b><br>
<b>{% blocktrans%} *The statements, views and opinions expressed in the news are solely those of the authors and do not necessarily represent those of Brisk Report.*.{% endblocktrans %}</b>
</p>
<p>
<p><b>{% blocktrans%} User creation.{% endblocktrans %}</p></b>
{% blocktrans%} Your UserName is unique save it !.{% endblocktrans %}<br>
{% blocktrans%} Create a user clinking in the sign in link , in the menu bar: .{% endblocktrans %}<i class="fas fa-bars"></i><br>
{% blocktrans%} You must provided and user name , valid email , password and a crypto hash or paypal to received donations(optional).{% endblocktrans %}<br>
{% blocktrans%} You can edit your user preferences in the user interference, just click in your user name , in the menu bar:.{% endblocktrans %}<i class="fas fa-bars"></i>
</p>
<p>
<p><b>{% blocktrans%} Set Location.{% endblocktrans %}</p></b>
{% blocktrans%} You can set any location in the world to see news from this place..{% endblocktrans %}<br>
{% blocktrans%} If you leave the location empty , the algorithm will not filter this this option..{% endblocktrans %} <br>
{% blocktrans%} You can set the local news as , "USA,Illinois,Chicago", or only USA,Illinois).Just access the set location link (in the menu bar: .{% endblocktrans %}<i class="fas fa-bars"></i><br>
{% blocktrans%} Brisk Report do not track your location ,you can set any location you want..{% endblocktrans %}<br>
{% blocktrans%} The set location is saved as a cookie so you can set the location without user! , if you delete your browser cookies you will have to set the location again..{% endblocktrans %}
</p>
<p>
<p><b>{% blocktrans%} User following.{% endblocktrans %}</p></b>
{% blocktrans%} If you have and account you cant follow a user (Anon means an anonymously user that you cannot follow).{% endblocktrans %}<br>
{% blocktrans%} To follow just click the follow button at the side of the user in the new.{% endblocktrans %}<br>
{% blocktrans%} To un-follow just click the un-follow button at side of the user in the new, or access your account and select what users to un-follow.{% endblocktrans %}
</p>
<p>
<p><b>{% blocktrans%} Donations.{% endblocktrans %}</p></b>
{% blocktrans%} The hash number , paypal or patreon accounts to receive donations are display in the news that you create , the user decide to donate to you , Brisk Report do not take any action or profit in the transaction,
so please add help instructions to the final user to indicate how to donate to you in a easy way..{% endblocktrans %}<br>
<b>{% blocktrans%} NEVER PROVIDES BANK,SOCIAL SECURITY OR PERSONAL INFORMATION.{% endblocktrans %}</b>
</p>
<p>
<p><b>{% blocktrans%} Adds.{% endblocktrans %}</p></b>
{% blocktrans%} Do you want your add in the website.{% endblocktrans %}<br>
<b>noticiasdinamicas@protonmail.com</b>
</p>

<a class="link_item_large" href="mailto:noticiasdinamicas@protonmail.com">{% blocktrans%} Contact Us.{% endblocktrans %}</a>
<a class="link_item_large" href="{% url 'terms' %}">  {% blocktrans%} Terms of Services .{% endblocktrans %} </a>
<a class="link_item_large" href="{% url 'privacy' %}">  {% blocktrans%} Privacy .{% endblocktrans %} </a>
</div>
{% endblock %}