{% extends "base_home_adds_tabs.html" %}

{% block noticias %}
{% load i18n %}
<div class ="content_all_news">
    <p class ="head_title_colum" >{{ title }}</a>
    <ul>
        {% for New in object_list %}
            <li>
             <a href="{% url 'new-detail' New.pk %}">{{ New.title }}</a>
            </li>
        {% empty %}
        <li>{% blocktrans %} No articles yet.{% endblocktrans %}</li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
          <div class="pagination">
              <span class="page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></i></a>
                  {% endif %}
                  <span class="page-current">
                      <i class="far fa-file"></i> {{ page_obj.number }}/{{ page_obj.paginator.num_pages }}
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></i></i></a>
                  {% endif %}
              </span>
          </div>
    {% endif %}
 </div>
{% endblock %}


