{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title>The Brisk Report </title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
<meta name="google-site-verification" content="IcKX6lMmOQBpMyRI6RsNlJ4vgvK6bkkCGgnQ8E4TpwQ" />
<meta name="msvalidate.01" content="EEAE3F3FE3085AC18DBCE000E8762E68" />
{% load static %}

<script src="{% static "js/jquery-321.js"%}"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/base_style.css"%}" />

<link rel="icon" href="{% static "images/faviocon.png"%}">
</head>
<body>

{% load i18n %}

<div class="header">
     <!-- comment -->

 <img class="title_header_img_icon" src="{% static "images/48icon.png"%}">
<a class="page_title" href="{% url 'home'%}"> Brisk Report</a>




    <div class="dropdown">

      <button class="dropbtn"><i class="fas fa-bars"></i></button>
      <div class="dropdown-content">
        <a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> {% blocktrans %} About {% endblocktrans %} </a>
        <a class="navigation_bar_item" href="{% url 'terms' %}">  {% blocktrans %}   Terms of Service{% endblocktrans %} </a>
        <a class="navigation_bar_item" href="{% url 'privacy' %}"> {% blocktrans %}  Privacy  {% endblocktrans %}</a>
        {% if user.is_authenticated %}
           <a href="{% url 'user-detail' user.pk %}"><i class="far fa-user"></i> {{ user.username }}</a>
           <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>{% blocktrans %}  Log Out {% endblocktrans %}</a>
        {% else %}
            <a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>{% blocktrans %}  Log In {% endblocktrans %}</a>
            <a href="{% url 'home' %}accounts/new_user"><i class="fas fa-user-plus"></i> {% blocktrans %}  Sign In{% endblocktrans %}</a>
        {% endif %}

        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{% url 'home' %}"  />
        <select class ="select_language_ctrl"name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>

        <button class="set_language_btn" type="submit"><i class="fas fa-check"></i></button> {% csrf_token %}

        </form>
      </div>
     </div>
     <a class="submit_new_btn"  href="{% url 'submit_new' %}"><div class="tooltip"><i class="fas fa-plus"></i>
            <span class="tooltiptext">Create</span>
            </div>
     </a>

    <div class = "search_container">
        <form action="/search/" method="get">
             {% get_current_language as LANGUAGE_CODE %}
             {% if 'en' == LANGUAGE_CODE %}
            <input type="text" placeholder="Search User gene.." name="search_value">
            {% else %}
            <input type="text" placeholder="Buscar Generadas Usua.." name="search_value">
            {% endif %}
            <button type="submit"><i class="fa fa-search"></i></button>{% csrf_token %}
        </form>
   </div>


</div>
  <div id ="navigation_bar">
    <a class="navigation_bar_item_first" href="{% url 'all-news' %}">{% blocktrans %}  User Generated {% endblocktrans %}</a>
    <a class="navigation_bar_item" href="{% url 'all-subs' %}">{% blocktrans %}  Subs {% endblocktrans %}</a>
    </div>

<div id ="wrapper">
  {% block contenido %}{% endblock %}
</div>
 <!--
<div id="footer">
 <a class="navigation_bar_item" href="{% url 'terms' %}">  Terms&Conditions  </a>
 <a class="navigation_bar_item" href="{% url 'privacy' %}">  Privacy  </a>
 <a class="navigation_bar_item" href="{% url 'about' %}">  About  </a>
</div>
 <i class="fas fa-balance-scale"></i>
 -->


</body>
</html>
