{% extends "base.html" %}
{% block contenido %}
{% block noticias %}{% endblock %}
{% load i18n %}
  <div id="extra">
    {% get_current_language as LANGUAGE_CODE %}

    {% if LANGUAGE_CODE == "es" %}
    <p><a href="{% url 'about' %}"><strong>Publicidad</strong></a></p>
    {% elif LANGUAGE_CODE == "en" %}
    <p><a href="{% url 'about' %}"><strong>Adds</strong></a></p>
    {% else %}
    <p><a href="{% url 'about' %}"><strong>Adds</strong></a></p>
    {% endif %}

    {% block adss %}{% endblock %}
  </div>
  {% block comentarios %}{% endblock %}
{% endblock %}