{% extends "base_home_adds.html" %}
{% block noticias %}
 <p><span class ="head_title_colum"> {{ new_model.title }}</span></p>
 <br>
 <!-- <div class ="news_content_text"><p>{{new_model.opinion}}</p></div>  -->
 <div ><p>{{ new_model.richtext_opinion|safe }}</p></div>


 <br>
 <div class="news_content_link"> <a href= "{{ new_model.link }}">{{ new_model.link }}</a></div>
 <br>

   <!-- <p><strong>Hashtags:</strong> {{ new_model.hashtags }}</p> -->
  <div class="news_hashtags_div">
  {% for hashtag in hashtagList %}
   <form class="news_hashtags_div" action="/search/" method="get">
    {% if hashtag %}
     <button class="hash_button" type="submit" name="search_value" value = "&#35{{hashtag}}">#{{hashtag}}</Button>
     <input type="hidden" name="hashtag" value="$#">
    {% endif %}
    </form>
  {% endfor %}
  </div>
  <br>
   <br>
  <div class="news_info_text"> {{ new_model.country }} {{ new_model.state }} {{ new_model.city }}</div>
  <div class="news_info_text"><i class="far fa-calendar"></i> {{new_model.timestamp}} </div>
  <div class="news_info_text"><i class="fas fa-eye"></i> {{new_model.views_count}} </div>
  <div class="news_info_text">Section: {{ new_model.seccion }} </div>
  <div class ="news_reporter_info_div">
    {% if new_model.reporter_name == '@@'%}
    <p class ="news_reporter_info"><i class="far fa-user"></i> Anon</p>
    {% else %}
    <p class ="news_reporter_info"><i class="far fa-user"></i> {{new_model.reporter_name}}</p>
    {% endif %}
    <button type="button" class='follow' id = "followBtn">Follow</button>{% csrf_token %}
     <button type="button" class='unfollow' id = "unfollowBtn">UnFollow</button>{% csrf_token %}
   </div>

   {% if user.is_authenticated %}
        {% if new_model.reporter_name == user.username %}
        <p>
        <br>
        <br>
        <input type="checkbox" id ="DeleteNew" name="DeleteNew " value="DeleteUser"> <i class="far fa-trash-alt"></i>
        <br>
        <button class='dlt_news_btn' id = "dlt_news_btn"> <i class="fas fa-check"></i> </button> {% csrf_token %}
        </p>
       {% endif %}
    {% endif %}

    <br>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script type="text/javascript">
  $(document).ready(function() {
      console.log('ajax log');
  // airframe is liked
//  <div class="iframbox"><iframe src= "{{ new_model.link }}" width = "500px" height = "500px"></iframe></div>
 //var a = "{{someDjangoVariable}}";
  // AJAX GET
    /*$('.get-more').click(function(){

        $.ajax({
            type: "GET",
            url: "/ajax/more/",
            success: function(data) {
            for(i = 0; i < data.length; i++){
                $('ul').append('<li>'+data[i]+'</li>');
            }
        }
        });

    });*/

    //button control
    var follow_btn = document.getElementById("followBtn");
    var unfollow_btn = document.getElementById("unfollowBtn");
    if ("{{following_command}}" == 2){//follow
        follow_btn.style.display  = 'initial';
        unfollow_btn.style.display  = 'none';
    }
    else if ("{{following_command}}" == 3){ //unfollow
        follow_btn.style.display  = 'none';
        unfollow_btn.style.display  = 'initial';
    }
    else{ //not logged
        follow_btn.style.display  = 'none';
        unfollow_btn.style.display  = 'none';
    }

    // AJAX POST
    $('.follow').click(function(e){
      console.log('am i called');

        $.ajax({
            type: "POST",
            url: "/ajax/follows_reporter/",
            data: { "reporter":  "{{new_model.reporter_name}}" },// this is to get and item from a input
            dataType: "json",
            success: function(data) {
                follow_btn.style.display  = 'none';
                unfollow_btn.style.display  = 'initial';
                alert(data.message);
            }
        });

    });

    $('.unfollow').click(function(e){
      console.log('am i called');

        $.ajax({
            type: "POST",
            url: "/ajax/unfollows_reporter/",
            data: { "reporter":  "{{new_model.reporter_name}}" },// this is to get and item from a input
            dataType: "json",
            success: function(data) {
                follow_btn.style.display  = 'initial';
                unfollow_btn.style.display  = 'none';
                alert(data.message);
            }
        });

    });

     //delete New
    $('.dlt_news_btn').click(function(){
      console.log('am i called delete New');

      var control = document.getElementById("DeleteNew");
      if(control){
            if (control.checked){
                $.ajax({
                    type: "POST",
                    url: "/ajax/deletes_new/",
                    data: { "new_id": "{{ new_model.pk }}" },// this is to get and item from a input
                    dataType: "json",
                    success: function(data) {
                        window.location = '/';
                       // window.location.reload(false);
                    }
                });
             }
        }

    });


    // CSRF code
    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


});
</script>
{% endblock %}


