{% extends "base_home_adds.html" %}
{%load i18n %}
{% block noticias %}
<div class = "search_container_fullv">
        <form action="/search/" method="get">
            <input type="text" placeholder="Search.." name="search_value">
            <button type="submit"><i class="fa fa-search"></i></button>
            <br>

            <input type="checkbox" name="all" value="all" >{% blocktrans%} All {% endblocktrans %}<br>
        <input type="checkbox" name="title" value="title"checked> {% blocktrans%}Title {% endblocktrans %}<br>
        <input type="checkbox" name="hashtag" value="hashtag"checked> Hashtag<br>
        <input type="checkbox" name="opinion" value="opinion"> Opinion<br>
        <input type="checkbox" name="location" value="location"> {% blocktrans%}Location {% endblocktrans %}<br>
        <input type="checkbox" name="reporter" value="reporter"> {% blocktrans%}Reporter name {% endblocktrans %}<br>
        </form>
   </div>
<div id= "search_error_div">
 {% if errors %}
        <ul>
            {% for error in errors %}
            <li ><span class = "error_text">{{ error }}</span></li>
            {% endfor %}
        </ul>
</div>
<div >
{% else %}
    <p class="news_content_text">You searched for: {{ query }}</p>
    <br>
    <ul>
        {% for New in query_search %}
            <li>
             <a class ="title_large" href="{% url 'new-detail' New.pk %}">{{ New.title }}</a>
            </li>
        {% empty %}
        <li><span class ="title_large">{% blocktrans%}No articles founded {% endblocktrans %} </span></li>
        {% endfor %}
    </ul>
    </p>
    <br>
{%endif%}
</div>
{% endblock %}


