{% extends "base_home_adds_tabs.html" %}

{% block noticias %}
{%load i18n %}

  <!-- <button class="tabs_item button" onclick="openTab('Tokyo')">Algorithm</button>...-->
    <!-- <FRONT TAB-->
<div id="Front" class="content_new_list">

   {% load static %}
  <!--  <img class ="main_new_img" src="{% static "images/main_new_static.png"%}" ></img> -->
    <br>
    <div class ="row">
            <ul>
            {% for New in main_news %}
            <li>
                <a class ="main_new"  href="{{ New.link }}"><span style="text-decoration: underline;">{{ New.title }}</span></a>
            </li>
            {% empty %}
            {% blocktrans %} No articles yet. {% endblocktrans %}
            {% endfor %}
            </ul>
        <br>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <br>
    <br>
    </div>

    <div class="row">

            <a class="head_title_colum" href="{% url 'all-news' %}">{% blocktrans %} User Generated {% endblocktrans %}</a>
            <ul>
                {% for New in object_list %}
                     <li><a href="{% url 'new-detail' New.pk %}">{{ New.title }}</a></li>
                {% empty %}
                 {% blocktrans %} No articles yet. {% endblocktrans %}
                {% endfor %}
            </ul>


    </div>


    <div class="row">
            <a class="head_title_colum" href="{% url 'all-subs' %}">{% blocktrans %} Subs{% endblocktrans %}</a>
            {% if user.is_authenticated %}
                <ul>
                {% for New in follow_list %}
                     <li><a href="{% url 'new-detail' New.pk %}"> {{ New.title }}</a></li>
                {% empty %}
                {% blocktrans %} No articles yet. {% endblocktrans %}
                {% endfor %}
                </ul>
            {% else %}
                <br>
                <a href="{% url 'login' %}">{% blocktrans %}Log In{% endblocktrans %}</a>
            {% endif %}
    </div>
 </div>



{% endblock %}


