{% extends "base_home_adds.html" %}
 {% block noticias %}
 {%load i18n %}
<p class="head_title_colum">{% blocktrans%}Set Location {% endblocktrans %}</p>
{% if form.errors %}
     <p class ="error_text">
        {% blocktrans%}Please correct the error{{ form.errors|pluralize }} below.{% endblocktrans %}
    </p>
{% endif %}
<form action="" method="post">
    <table class= "table_upload_sytle">
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <button class="hash_button_big" type="submit"  value = "Submit">OK <i class="fas fa-check"></i></Button>
 
</form>
<p class ="title_large">{% blocktrans%}Leave Blank to set location to none {% endblocktrans %}</p>
{% endblock %}