{% extends "base_home_adds.html" %}
 {% block noticias %}
 {%load i18n %}
<p class ="head_title_colum">{% blocktrans%}Thanks {% endblocktrans %}<i class="fas fa-check"></i><i class="fas fa-check"></i></p>
{% endblock %}