{% extends "base_home_adds.html" %}
 {% block noticias %}
 {%load i18n %}
<br>
<p class="head_title_colum"><i class="fas fa-plus"></i>{% blocktrans%}  Create New {% endblocktrans %}</p>
{% if form.errors %}
    <p class ="error_text">
        {% blocktrans%} Please correct the error{{ form.errors|pluralize }} below. {% endblocktrans %}
    </p>
{% endif %}
<form action="" method="post">
    <table >
        {{ form.media}}
        {{ form.as_table }}
    </table>
    <br>
    <br>
    {% csrf_token %}
     <button class="hash_button_big" type="submit"  value = "Submit"><i class="fas fa-sign-in-alt"></i>{% blocktrans%}  Create {% endblocktrans %}</Button>
     <br><br><br>
     <a class="link_item_small" href="{% url 'terms' %}">{% blocktrans%}   Terms of Service {% endblocktrans %} </a>
     <a class="link_item_small" href="{% url 'privacy' %}"> {% blocktrans%}  Privacy {% endblocktrans %} </a>
</form>
<br>
{% endblock %}