{% extends "base_home_adds.html" %}
{% block noticias %}
{%load i18n %}
 <p><strong> <i class="far fa-user"></i> {{ user.username }}</strong></p>

  <a href="{% url 'password_reset' %}"> <strong>{% blocktrans%}Change Password{% endblocktrans %}</strong></a>
   <!-- author detail link not yet defined -->
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>crypto_clabe:</strong> {{ user.reporter.crypto_clabe }}</p>

 <p><strong> {% blocktrans%}News{% endblocktrans %}</strong></p>
{% if user.is_authenticated %}
    <ul>
    {% for New in news_list %}
         <li><a href="{% url 'new-detail' New.pk %}"> {{ New.title }}</a></li>
    {% empty %}
    {% blocktrans %} No articles yet. {% endblocktrans %}
    {% endfor %}
    </ul>
 {% endif %}

 <!-- Change searhc method -->
<p><strong> {% blocktrans%}Following{% endblocktrans %}</strong></p>
  {% for follow in following_split  %}
  <form action="/search/" method="get">
    {% if follow %}
        <p>
        <input type="submit" class ='follow' name="search_value" value = "{{follow}}" >
        <input type="hidden" name="reporter_specific" value="$#">
        <input type="checkbox" id ="{{follow}}" name="{{follow}}" value="{{follow}}">{% blocktrans%} Unfollow{% endblocktrans %}<br>
        </p>
    {% endif %}
    </form>
  {% endfor %}
  {% if following_split %}
        <p>
        <button class='btn unfollow' id = "unfollowBtn">{% blocktrans%} UnFollow Apply {% endblocktrans %}</button>{% csrf_token %}
        </p>
  {% endif %}




<br>
<br>
 <p>
    <input type="checkbox" id ="DeleteUser" name="DeleteUser" value="DeleteUser"><i class="far fa-trash-alt"></i><br>
    <button class='hash_button' id = "DeleteUser_btn">{% blocktrans%} Delete User Apply (Will Delete All the created news too){% endblocktrans %}</button>{% csrf_token %}
 </p>



<script type="text/javascript">
  $(document).ready(function() {


    $('.unfollow').click(function(){

    var json_string = unescape("{{jason_split | safe | escapejs}}");
    var json_data = JSON.parse(json_string);
    var array_lenght = json_data.length;

      console.log('am i called');
      console.log(json_data);
      var names =[];
      for (i = 0;i<array_lenght;i++)
      {
        var control = document.getElementById(json_data[i])
        if (control)
        {
            var bool_s = control.checked
            if(bool_s)
            {
                names.push(json_data[i]);
            }
        }
      }
      if (names.length > 0)
      {
        console.log(names);
        $.ajax({
            type: "POST",
            url: "/ajax/unfollows_userpage/",
            data: { "reporter_names": JSON.stringify(names) },// this is to get and item from a input
            dataType: "json",
            success: function(data) {
                window.location.reload(false);
            }
        });
       }
    });


    //delete User
    $('.hash_button').click(function(){
      console.log('am i called delete User');
      var control = document.getElementById("DeleteUser");
        if (control.checked){
            $.ajax({
                type: "POST",
                url: "/ajax/deletes_userpage/",
                data: { "user_name": "{{user.username}}" },// this is to get and item from a input
                dataType: "json",
                success: function(data) {
                    window.location = '/';
                   // window.location.reload(false);
                }
            });
         }

    });
    // CSRF code
    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


});
</script>
{% endblock %}


