html,body{}

body{
   background-color:white; /*#fafafa;
   /* color:#5F4B32;*/
    margin:0;padding:0;
    font-family:'Verdana',serif;
    font-weight: 500;
    font-size:large;

     margin:0;
   padding:0;
   height:100%;
    }
img {
    width:100%;
    max-width:/*460*/770px;

}

/*p{margin:0 100px 10px}*/
a {color:#000000; background:inherit; text-decoration:none;}
a:hover {color:#DC143C; background:none; text-decoration:none; }
/*a{padding:5px; text-decoration:none; color:#000000;}
a:hover {color:#DC143C; background:none; text-decoration:none; border-bottom:1px dashed;}*/
#content{
    float:left;
    margin-left:10%;
    height: 100%;
    width: 60%;
    padding-bottom:60px;

}
#extra{float:right;width:30%;background-color:#F3F2ED;
            font-family:'Verdana',serif;
            }/*Adds*/

#wrapper
{

   padding-bottom:20px;   /* Height of the footer */

}
/* Style  */






#footer {



       clear:both; width:100%;

        background-color: #e9e9e9;/*#fafafa;/*#F3F2ED;*/
        font-family:'Verdana',serif;
        border-top:4px solid #DC143C;

 width: 100%;
 height:20px;
            bottom: 0;
            position: fixed;
            }
.header{
            background-color: #e9e9e9;/*#fafafa;/*#F3F2ED;*/
            font-family:'Verdana',serif;
            border-bottom:4px solid #DC143C;
            width:100%;

           /* position: fixed;*/
            display: inline-block;
            vertical-align: middle ;

            padding:10px;

            }
.header a.page_title{


            float:inline-block;
            /*line-height:50px;*/
            font-weight: bolder;
            font-size: xx-large;
            font-style: italic;
            vertical-align: middle;
}
.header .title_header_img_icon
{
width:48px;
height:48px;
vertical-align: middle;
margin-left:10%;

}
/*search bar*/
    .header .search_container
    {
        float:right;
       /*display: inline-block;*/
        padding-bottom:5px;
        padding-left:50px;
        margin-right:none;


    }
    .header input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;

    }

    .header .search_container button
    {
         float:right;
        /*display: inline-block;*/
         padding: 6px 10px;
          margin-top: 8px;
          margin-right: 8px;
          margin-left:none;
          background-color: #e9e9e9;
         font-size:x-large;
          border: none;
          cursor: pointer;



    }
    .header .search_container button:hover {
        color:#DC143C;
      /*  background: #ccc;*/
    }

  /*submit new*/
     .header a.submit_new_btn
    {
        color:black;

    font-size:x-large;
    margin-top: 10px;
       float:right;
        background-color: #e9e9e9;
        cursor: pointer;
        vertical-align: middle;

    }
    .header a.submit_new_btn:hover {

        color:#DC143C;
    }

  .tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #e9e9e9;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;

    margin-top: 40px;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity:.75;
}




.dropbtn {
    background-color: #e9e9e9;
    color: black;
    font-size:x-large;
    border: none;
    margin: 12px;
       float:right;
      float:right;
}

.dropdown {

    position: relative;

       float:right;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0;

}

.dropdown-content a {

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e9e9e9;
    color:#DC143C;
    }

.dropdown-content select {
    color:#DC143C;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content select:hover {color:#DC143C;background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
    color:#DC143C;
}

.dropdown:hover .dropbtn {
   color:#DC143C;

}
.dropdown .select_language_ctrl
{

width:100%;
 border: none;
}
.set_language_btn
{
 border:none;
width:100%;
background-color: #f9f9f9;


}
.dropdown .set_language_btn:hover
{
 color:#DC143C;

}






 #navigation_bar
    {
        background-color: #e9e9e9;
        font-family:'Verdana',serif;
        border-bottom:2px solid black;
        text-align:left;
        font-weight: 700;
        font-size: small;
        width:100%;
        /* position: fixed;*/
        display: inline-block;
        height:100%

    }
    #navigation_bar .navigation_bar_item_first
    {
     display: inline-block;
     padding-left: 10px;
     margin-left:10%;

    }
    #navigation_bar .navigation_bar_item
    {
     display: inline-block;
     padding-left: 10px;


    }
     #navigation_bar .navigation_bar_item:hover
    {
       background-color: #ddd;
       color: #DC143C;
    }
    .link_item_small
    {
     font-size: small;
     display: inline-block;
    font-weight: bold;

    }
     .link_item_small:hover
    {
       background-color: #ddd;
       color: #DC143C;
    }
 .link_item_large
    {
     font-size: large;
     display: inline-block;
font-weight: bold;

    }
     .link_item_large:hover
    {
       background-color: #ddd;
       color: #DC143C;
    }
/*main page*/
.content_new_list{
    float:left;
    margin-left:10%;
    height: 100%;
    width: 60%;
}
.content_new_list .main_new{
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
    width: 100%;
}
.content_new_list .main_new_img{

    width: 100%;
}




.column {

    float: left;
    width: 48%;
    margin : 0px 5px;




}
.head_title_colum
{
    font-weight: bold;
    font-size:x-large;
   /* border-bottom:4px solid #DC143C;*/
}
.table_upload_sytle
{
  font-weight: bold;
  font-size:large;

}
/*th tabla tr row, th colum*/
th,td,tr{
    text-align: left;
    padding: 5px;
    vertical-align: top;
    font-size:small;

}
table input{
    width:100%;
     font-weight: bold;
}
table img{

     width:200px;
     height:150px;
}
.title_large
{
    font-weight: bold;
    font-size:large;
   /* border-bottom:4px solid #DC143C;*/
}

.error_text
{
    font-weight: bold;
    font-size:large;
    color: #DC143C;
   /* border-bottom:4px solid #DC143C;*/
}

 li:not(:last-child) {
    padding-bottom: 15px;
    list-style-type: none;

}
 li {
    list-style-type: none;
}
ul {
    padding: 0;
    list-style-type: none;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
     margin= 100px;

}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/*All news*/
.content_all_news{
   float:left;
    margin-left:10%;
    height: 100%;
    width: 60%;
}

/*New detail*/
/*Text*/
.news_content_text
{
   font-weight: normal;
    font-size:large;
}
.news_content_link
{
    font-size:small;
    font-weight:bold;
}

.news_hashtags_div{
    display: inline-block;
    vertical-align: middle
}
.hash_button
{
    display: inline-block;
    font-size:medium;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.hash_button:hover
{
 color:#DC143C;

}
.follow
{
    display: inline-block;
    font-size:medium;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.follow:hover
{
 color:#DC143C;

}
.unfollow
{
    display: inline-block;
    font-size:medium;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.unfollow:hover
{
 color:#DC143C;

}
.hash_button_big
{
    display: inline-block;
    font-size:x-large;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.hash_button_big:hover
{
 color:#DC143C;

}

.dlt_user_btn
{
    display: inline-block;
    font-size:medium;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.dlt_user_btn:hover
{
 color:#DC143C;

}

.dlt_news_btn
{
    display: inline-block;
    font-size:medium;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.dlt_news_btn:hover
{
 color:#DC143C;

}

.save_news_btn
{
    display: inline-block;
    font-size:medium;
    border:none;
    background-color: #e9e9e9;
    font-weight:bold;
}
.save_news_btn:hover
{
 color:#DC143C;

}

.news_info_text
{
    font-weight:bold;
    font-size:medium;
}
.news_reporter_info_div{
    display: inline-block;
    vertical-align: middle
}
.news_reporter_info{
    display: inline-block;
    vertical-align: middle
}

/*search bar page*/
.search_container_full
    {
        float:right;
       /*display: inline-block;*/
        padding-bottom:5px;
        padding-left:50px;
        margin-right:none;


    }
.search_container_full input[type=text] {
      padding: 6px;
      margin-top: 8px;
      font-size: 17px;
      border: none;

    }

.search_container_full button
    {
         float:right;
        /*display: inline-block;*/
         padding: 6px 10px;
          margin-top: 8px;
          margin-right: 8px;
          margin-left:none;
          background-color: #e9e9e9;
         font-size:x-large;
          border: none;
          cursor: pointer;



    }
.search_container_full button:hover {
        color:#DC143C;
      /*  background: #ccc;*/
    }
